@use '../../global' as *;

.about {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem 4rem;
   background: linear-gradient(rgba(2, 173, 231, 0.5), rgba(2, 173, 231, 0.5)), url('/img/wave-small.jpg');

   @media screen and (min-width: $tablet) {
      background: linear-gradient(rgba(2, 173, 231, 0.5), rgba(2, 173, 231, 0.5)), center / cover no-repeat url('/img/wave-big.jpg');
   }

   >* {
      @media screen and (min-width: $tablet) {
         margin: 2px 0;
         width: 100%;
         max-width: 600px;
      }
   }

   h1 {
      padding: 0 .8rem;
      border-radius: 6px;
      font-size: 4.6rem;
      font-weight: 400;
      color: $light-color; // $darkgrey-color-4;
      text-shadow: 0 0 6px $main-color-0;
      background-color: rgba(198, 232, 255, .8);

      @media screen and (min-width: $tablet) {
         padding: 1rem;
      }
   }

   .info {
      margin-bottom: 10rem;
      padding: 2rem 1rem;
      border-radius: 6px;
      text-align: left;
      background-color: rgba(198, 232, 255, .8);

      @media screen and (min-width: $tablet) {
         padding: 4rem;
      }

      >div {
         display: flex;
         flex-direction: column;
         margin-bottom: 1rem;

         @media screen and (min-width: $tablet) {
            flex-direction: row;
            justify-content: space-between;
         }

         >span {
            &:first-child {
               font-weight: 500;
            }

            &:last-child {
               text-align: right;
               color: $dark-color;
               text-shadow: 0 0 1px $main-color-0;
            }
         }
      }
   }
}