@use '../../global' as *;

.infobar {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
   padding: 4px 20px;
   background-color: $main-color-4;

   @media screen and (min-width: $tablet) {
      flex-direction: row;
      align-items: center;
   }

   .info_item {
      display: flex;
      align-items: center;
      margin: 3px 0;

      &:first-child {
         min-width: 60%;

         @media screen and (min-width: $tablet) {
            min-width: 70%;
         }
      }

      >span {
         font-size: 1.4rem;

         &:last-child {
            margin-left: 4px;
            padding: 1px 5px;
            border-radius: 4px;
            font-weight: 700;
            color: $main-color-0;
            background-color: $main-color-5;
         }
      }
   }
}