@use '../../global' as *;

.infobar {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 4px 20px;
   background-color: $main-color-4;

   .info_row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 10px;

      &+.info_row {
         margin-top: 4px;
      }

      .info_item {
         >span {
            font-size: 1.4rem;

            &:last-child {
               margin-left: 4px;
               padding: 1px 5px;
               border-radius: 4px;
               font-weight: 700;
               color: $main-color-0;
               background-color: $main-color-5;
            }
         }
      }
   }
}