@use '../../global' as *;

.letters,
.kanji {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 20px;
   box-shadow: 2px 2px 2px $darkgrey-color-3;
   background-color: $main-color-5;
   transition: background-color .5s;

   .text {
      margin-bottom: 3rem;
      font-family: $japan-font;
      font-size: 10rem;
   }
}

.letters {
   .text {
      margin: 0;
      font-family: $main-font;
      font-weight: 600;
      font-size: 3.6rem;
   }
}

.selected {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   border: 6px solid $main-color-3; // $main-color-1;
}

.wrong {
   background-color: $nok-color;
}

.correct {
   background-color: $ok-color;
}

.correct_blinking {
   //background-color: rgba(8, 210, 92, 1);
   animation: .6s ease-in-out infinite blinking;
}

@keyframes blinking {
   50% {
      background-color: rgba(8, 210, 92, 1);
   }
}